:root{
  --dark-black : #0A0A0B;
  --pryBlue: #2F80ED;
  --theOrange: #C98218;
  --dimBlue: #9BBBE5;
  --paleBlue: #DDECFF;
  --offWhite: #F8F8F8;
  --pryWhite: #ffffff;
  --black300: #2D2D2D;
  --black200: #383838;
  --gray700: #828282;
  --gray500: #AEAEAE;
  --gray300: #BFBFBF;
  --gray200: #C7C7C7;
  --dangerRed: rgb(218, 50, 50);
}

body{
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

input,select{
  width: 96%;
  padding: 0 2%;
  font-size: 1.2rem;
  color: var(--black300);
  border-radius: 5px;
  border: 1px solid var(--gray200);
  background-color: var(--offWhite);
  line-height:2.7rem;
}

select{
  width: 100%;
  padding: 2% 0!important;
}

input:focus, select:focus{
  outline-style: none;
  outline-color: transparent;
  background-color: var(--pryWhite);
}



input::-webkit-input-placeholder {
  color: var(--gray200);
}

input::-ms-input-placeholder {
  color: var(--gray200);
}
